 *{
    margin: 0; padding: 0;
    box-sizing: border-box;
 }
 body{
    color: white;
    background-color: #222222;
 }

 .img{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
 }